*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('../assets/Acceuil.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.hea{
    display: flex;
    justify-content: space-between;
}

.haut{
    display: flex;
    align-items: center;
}

.bout button{
    height: 50px;
    width: 100px;
    background-color: green;
    color: white;
    border: none;
}
.icon{
    font-size: 50px;
}

.phrase{
    text-align: center;
    margin-top: 10%;
}

.phrase h1{
    font-size: 5rem;
    color: beige;
}

.bouttom{
    text-align: center;
}

.bouttom button{
    height: 40px;
    width: 10%;
    background-color: gray;
    color: white;
    cursor: pointer;
}

